/* .App {
  text-align: center;
} */


/* .App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-content h2{
   font-size: calc(10px + 2vmin);
} */
/* 
.App-footer{
  color: #88c0cf;
  font-size: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.card-container{
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 20px;
  /* display: flex; */
  
}