/* .App {
  text-align: center;
} */


/* .App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-content h2{
   font-size: calc(10px + 2vmin);
} */
/* 
.App-footer{
  color: #88c0cf;
  font-size: 1rem;
}

*/

.App{
  background-color: #81cad8;
  min-height: 100vh;
  padding: 50px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* form{ 
  display: flex;
  flex-direction: column;
} */
input{
  font-size: 0.9rem;
  margin-right: 5px;
  padding: 8px 12px;
  /* width: 300px; */
}

input[type=submit]{
  background-color:  #00508e;
  color: white;
  /* border: none; */
  text-decoration: none;
  padding: 8px 16px;
  /* margin-left: 10px; */
  cursor: pointer;
}

@media (max-width: 450px){
    form{
    display: flex;
    flex-direction: column;
  }
  input{
    margin: 5px 0;
  }
}


@media (max-width: 650px) {
  .card-container{
    display: flex;
    flex-direction: column;
  }

  .App{
    margin: 0 auto;
  }

}