/* .App {
  text-align: center;
} */


/* .App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-content h2{
   font-size: calc(10px + 2vmin);
} */
/* 
.App-footer{
  color: #88c0cf;
  font-size: 1rem;
}

*/

.App{
  background-color: #81cad8;
  min-height: 100vh;
  padding: 20px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
